* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: dana;
  background-color: #ededed;
}
.container {
  display: flex;
  flex-direction: column;
}
button,
input {
  all: unset;
  border: 1px solid green;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px 0;
}
button {
  background-color: rgb(30, 200, 250);
}
button:hover{
  background-color: rgb(23, 155, 195);
  transition: .4s;
}
